$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
	 0: 0,
	 1: ($spacer * .25),    //4px
	 2: ($spacer * .5),     //8px
	 3: $spacer,            //16px
	 4: ($spacer * 1.5),    //24px
	 5: ($spacer * 3),      //48px
	 6: ($spacer * 4),      //64px
	 7: ($spacer * 5),      //80px
	 8: ($spacer * 6.25),   //100px
	 9: ($spacer * 7.5),    //120px
	 10: ($spacer * 9.375)  //150px
  ),
  $spacers
);

$primary:		#FFF !default;
$secondary: 	#000 !default;
$success: 		#00C000 !default;
$danger:  		#D40000 !default;
$info:	  		#BCFF00 !default;
$warning: 		#FFDD00 !default;
$gray:	  		#6c757d !default;
$light:	  		#F2F2F2 !default;
$dark:	  		#181A1B !default;
$blue:    		#007bff !default;
$indigo:  		#6610f2 !default;
$purple:  		#6f42c1 !default;
$pink:    		#e83e8c !default;
$red:     		#dc3545 !default;
$orange:  		#fd7e14 !default;
$yellow:  		#ffc107 !default;
$green:   		#28a745 !default;
$teal:    		#20c997 !default;
$cyan:    		#17a2b8 !default;
$white:    		#fff !default;
$gray-100: 		#f8f9fa !default;
$gray-200: 		#e9ecef !default;
$gray-300: 		#dee2e6 !default;
$gray-400: 		#ced4da !default;
$gray-500: 		#adb5bd !default;
$gray-600: 		#6c757d !default;
$gray-700: 		#495057 !default;
$gray-800: 		#343a40 !default;
$gray-900: 		#212529 !default;
$black:    		#000 !default;

$theme-colors: (
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"danger": $danger,
	"info": $info,
	"warning": $warning,
	"gray": $gray,
	"light": $light,
	"dark": $dark,
	"blue": $blue,
	"indigo": $indigo,
	"purple": $purple,
	"pink": $pink,
	"red": $red,
	"orange": $orange,
	"yellow": $yellow,
	"green": $green,
	"teal": $teal,
	"cyan": $cyan,
	"white": $white,
	"gray-100": $gray-100,
	"gray-200": $gray-200,
	"gray-300": $gray-300,
	"gray-400": $gray-400,
	"gray-500": $gray-500,
	"gray-600": $gray-600,
	"gray-700": $gray-700,
	"gray-800": $gray-800,
	"gray-900": $gray-900,
	"black": $black
);

$navbar-nav-link-padding-x: 2.5rem !default;
$navbar-dark-color: #FFF !default;

$headings-font-family: zuume-light-italic !default;
$headings-line-height: 1.0 !default;
$font-family-base: zuume-light-italic !default;
$font-size-base: 1.235rem !default;					//19.76px
$h1-font-size: $font-size-base * 3.98 !default;		//78.64px
$h2-font-size: $font-size-base * 3.04 !default;		//60.07px
$h3-font-size: $font-size-base * 2.57 !default;		//50.78px
$h4-font-size: $font-size-base * 2.09 !default;		//41.29px
$h5-font-size: $font-size-base * 1.22 !default;		//24.10px
$h6-font-size: $font-size-base !default;			//19.76px
$font-weight-bolder: 1000 !default;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";

.row {
	margin: 0;
}

@font-face {
	font-family: zuume-extrabold-italic;
	src: url("./assets/fonts/zuume-fonts/Zuume-ExtraBoldItalic.otf");
}

@font-face {
	font-family: zuume-light-italic;
	src: url("./assets/fonts/zuume-fonts/Zuume-LightItalic.otf");
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 7px;
}

p {
	letter-spacing: 5px;
}

body {
	background-image: url(./assets/images/polygonBG.jpg);
    background-size: cover;
    background-position: center;
}

.index-header {
	background-image: url("./assets/images/HeaderBackground.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 550px;
}

.index-subheading {
	line-height: 1em;
}

.navbar-desktop {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: zuume-extrabold-italic;
	font-size: 1.5em;
	letter-spacing: 4px;
}

.navbar-mobile {
	background-repeat: repeat-y;
	background-size: contain;
	background-position: center;
	font-family: zuume-extrabold-italic;
	font-size: 1.5em;
	letter-spacing: 4px;
	display: none;
}

#mobileNav {
	height: 0;
	overflow: hidden;
	z-index: 1;
	transition: all 0.3s ease-in-out;
}

#hamburger-menu {
  	transition: all 0.3s ease-in-out;
}

.menu-item {
    height: 3px;
    margin: 0 0 10px;
    transition: all 0.3s ease-in-out;
    width: 40px;
}

.toggle-hamburger-menu {
	.menu-item {
		margin: 0 0 5px;

	  &:first-child {
		transform: rotate(45deg);
		transform-origin: 10px;
	  }
	  &:nth-child(2) {
		opacity: 0;
	  }
	  &:nth-child(3) {
		transform: rotate(-45deg);
		transform-origin: 8px;
	  }
	}
}

h1 {
	font-family: zuume-extrabold-italic;
}

.large-product-image {
	width: 80%;
}

.small-product-image {
	width: 40%;
}

.footer {
	background-image: url("./assets/images/13.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.footer-social-icons {
	width: 35px;
}

.footer-social-icons:hover {
	opacity: 0.5;
}

.listing-item-image {
	width: 80%;
	transition: 0.3s ease-in-out;
}

.listing-item-heading {
	font-size: 34px;
}

.listing-item-button-wrap {
  overflow: hidden;
  width: 12vw;
  height: 3.5vw;
  margin: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.listing-item-button {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s cubic-bezier(.165, .84, .44, 1);
  opacity: 0;
}

.listing-item-button-wrap a {
	text-decoration: none;
}

.listing-item-button.is-animated {
  opacity: 1;
}

.listing-item-button-1 {
  border: 1px solid #000;
}

.listing-item-button-over {
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  transition: transform .7s cubic-bezier(.165, .84, .44, 1);
  overflow: hidden;
}

.listing-item-button-over:after,
.listing-item-button-over:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

.listing-item-button-over-1:after,
.listing-item-button-over-1:before {
  background: #000;
}

.listing-item-button-over:before {
  transform: translate3d(0, 105%, 0);
  opacity: 0
}

.listing-item-button-over:after {
  transform: translate3d(0, -105%, 0)
}

.listing-item-button-over:after,
.listing-item-button:hover .listing-item-button-over:before {
  transition: transform .8s cubic-bezier(.165, .84, .44, 1);
  opacity: 1
}

.listing-item-button:hover .listing-item-button-over:after,
.listing-item-button:hover .listing-item-button-over:before {
  transform: translateZ(0)
}

.listing-item-button:hover .listing-item-button-over:after {
  transition: none;
  opacity: 0
}

.listing-item-button-text {
  color: #000;
  position: relative;
  font-size: 1.15vw;
  line-height: 100%;
  letter-spacing: .05em;
  opacity: 0;
  transition: opacity .2s cubic-bezier(.165, .84, .44, 1) .5s;
}

.listing-item-button-text.is-animated {
  opacity: 1
}

.listing-item-button:hover .listing-item-button-text {
   color: #fff
}

.listing-item-button-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translate3d(0, 101%, 0);
  transition: transform 1.25s cubic-bezier(.75, .13, .13, 1);
}

.listing-item-button-cover.is-animated {
   transform: translate3d(0, -105%, 0)
}

.listing-item-button-cover-1 {
   background: #000
}

.listing-item-container:hover {
	.listing-item-button-wrap {
		visibility: visible;
	}
	.listing-item-image {
		opacity: 0.5;
		transform: scale(1.05);
	}
}

.details-item-image {
	width: 80%;
}

.details-color-swatches {
	width: 50px;
	height: 50px;
}

/* xs: 0 */
@media only screen and (max-width:576px) {
	.index-header {
	    background-image: url(./assets/images/HeaderBackground.png);
	    height: auto;
	}

	.header-logo {
		top: 44px;
	}

	.index-heading {
		text-align: center;
		font-size: 2.8em;
	}

	.index-subheading {
		text-align: center;
		font-size: 1.5em;
		line-height: 1em;
	}

	.navbar-desktop {
		display:none;
	}

	.navbar-mobile {
		display: block;
	}

	h2 {
		font-size: 1.75em;
	}

	.large-product-image {
		width: 100%;
	}

	.small-product-image {
		width: 49%;
	}

	.footer-logo-section > img {
		max-width: 50%;
	}

	.footer-nav-section {
		display: none;
	}

	.footer-social-icons {
		width: 44px;
	}

	.listing-item-button-wrap {
		position: relative;
		visibility: visible;
	}
}

/* sm: 576px */
@media only screen and (min-width:576px) and (max-width:768px) {
	.index-header {
	    background-image: url(./assets/images/HeaderBackground.png);
	    height: auto;
	}

	.header-logo {
		top: 44px;
	}

	.index-heading {
		text-align: center;
		font-size: 3.5em;
	}

	.index-subheading {
		text-align: center;
		font-size: 1.5em;
		line-height: 0.5em;
	}

	.navbar-desktop {
		display:none;
	}

	.navbar-mobile {
		display: block;
	}

	h2 {
		font-size: 1.75em;
	}
		
	.large-product-image {
		width: 100%;
	}

	.small-product-image {
		width: 49%;
	}

	.footer-logo-section > img {
		max-width: 50%;
	}

	.footer-nav-section {
		display: none;
	}

	.footer-social-icons {
		width: 50px;
	}
}

/* md: 768px */
@media only screen and (min-width:768px) and (max-width:992px) {
	.index-header {
	    background-image: url(./assets/images/HeaderBackground.png);
	    height: auto;
	}

	.header-logo {
		top: 44px;
	}

	.index-heading {
		text-align: center;
		font-size: 3.5em;
	}

	.index-subheading {
		text-align: center;
		font-size: 1.5em;
		line-height: 0.5em;
	}

	.navbar-desktop {
		display:none;
	}

	.navbar-mobile {
		display: block;
	}

	h2 {
		font-size: 1.75em;
	}

	.large-product-image {
		width: 100%;
	}

	.small-product-image {
		width: 49%;
	}

	.footer-nav-section {
		display: none;
	}

	.footer-social-icons {
		width: 50px;
	}
}

/* lg: 992px */
@media only screen and (min-width:992px) and (max-width:1200px) {
	.footer-seperator-section {
		display: none;
	}
}

/* xl: 1200px */
@media only screen and (min-width:1200px) {
	.footer-seperator-section {
		display: none;
	}
}
