$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
	 0: 0,
	 1: ($spacer * .25),    //4px
	 2: ($spacer * .5),     //8px
	 3: $spacer,            //16px
	 4: ($spacer * 1.5),    //24px
	 5: ($spacer * 3),      //48px
	 6: ($spacer * 4),      //64px
	 7: ($spacer * 5),      //80px
	 8: ($spacer * 6.25),   //100px
	 9: ($spacer * 7.5),    //120px
	 10: ($spacer * 9.375)  //150px
  ),
  $spacers
);

$theme-colors: (
	"black": #000,
	"white": #FFF
);

$navbar-nav-link-padding-x: 2.5rem !default;
$navbar-dark-color: #FFF !default;

$headings-font-family: zuume-light-italic !default;
$font-family-base: zuume-light-italic !default;
$font-size-base: 1.235rem !default;
$h1-font-size: $font-size-base * 3.98 !default;
$h2-font-size: $font-size-base * 3.04 !default;
$h3-font-size: $font-size-base * 2.57 !default;
$h4-font-size: $font-size-base * 2.09 !default;
$h5-font-size: $font-size-base * 1.61 !default;
$h6-font-size: $font-size-base !default;
$font-weight-bolder: 1000 !default;

@import "../bootstrap/scss/bootstrap";

.row {
	margin: 0;
}

@font-face {
	font-family: zuume-extrabold-italic;
	src: url("./assets/fonts/zuume-fonts/Zuume-ExtraBoldItalic.otf");
}

@font-face {
	font-family: zuume-light-italic;
	src: url("./assets/fonts/zuume-fonts/Zuume-LightItalic.otf");
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 7px;
}

p {
	letter-spacing: 5px;
}

body {
	background-image: url(./assets/images/polygonBG.jpg);
    background-size: cover;
    background-position: center;
}

.index-header {
	background-image: url("./assets/images/HeaderBackground.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 550px;
}

.navbar-desktop {
	background-image: url("./assets/images/2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: zuume-extrabold-italic;
	font-size: 1.5em;
}

.navbar-mobile {
	display: none;
}

.navbar {
	letter-spacing: 4px;
}

h1 {
	font-family: zuume-extrabold-italic;
}

.footer {
	background-image: url("./assets/images/13.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.footer-social-icons:hover {
	opacity: 0.5;
}

/* xs: 0 */
@media only screen and (max-width:0px) {

}

/* sm: 576px */
@media only screen and (min-width:0px) and (max-width:0px) {

}


/* lg: 992px */
@media only screen and (min-width:300px) and (max-width:980px) {

.index-header {
    background-image: url(./assets/images/HeaderBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
}

.header.info {
	width: 700px !important;
	top: 60px;
}
.header.info h1 {
	font-size: 3.9rem;
}
.header.info h5 {
    font-family: zuume-light-italic;
    font-size: 2.2rem;
    bottom: -1px !important;
}

.col-12.col-lg-4.header-logo-container.px-0{
    float: left !important;
    width: auto !important;
    position: relative;
    top: 38px !important;
    align-content: center;
    float: none !important;
    margin-left:0 !important;
}

.ml-auto, .mx-auto {
	margin: 0 auto;
}

.col-12.col-lg-8.text-white.pb-8.px-0{
    float: none !important;
    position: relative !important;
    top: .75em !important;
    width: 100% !important;
    text-align: center !important;
    margin: 0 auto !important;
}

ul.navbar-nav {
	display:none;
}

.navbar {
	height: 60px;
}

h2 {
    font-size: 3.8rem;
    line-height: 3.8rem;
}

.float-md-right {
    float: none !important;
}
.float-md-left {
    float: none !important;
}

.col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
}
img.float-md-right.m-auto.d-block {
	width: 99% !important;
}
img.float-md-left {
	width: 49% !important;
}
img.float-md-right {
	width: 49% !important;
}
img.float-md-left.m-auto.d-block {
	width: 99% !important;
}
.col-12.col-md-2.px-2.footer1 {
	display:none;
}
footer .col-md-2 {
    flex: 0 0 80%;
    max-width: 80%;
    margin: 0 auto;
}
footer .col-md-3.footer2 {
    flex: 0 0 60%;
    max-width: 60%;
    float:right;
    text-align: right;
}
footer .col-md-3 {
    flex: 0 0 35%;
    max-width: 35%;
}
footer .col-md-3.px-2.footer3 {
    flex: 0 0 80%;
    max-width: 80%;
    margin: 0 auto;
}

img.m-auto.d-block[title~="Sportwear"]{
	position:relative;
	bottom:5%
}
.col-12.col-md-2.px-2.footer3 {
	text-align: center;
	margin-top: 10px;
	border-top: 1px solid #ffffff;
}
.col-12.col-md-3.px-2.footer3 h6{
	font-size: 2.235rem;
	margin-top: 30px;
	text-align: center;
}
img.float-left.px-1.footer-social-icons{
	float:none !important;
	width: 50px !important;
}
footer .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 80%;
    margin: 0 auto;
}

}

/* xl: 1200px */
@media only screen and (min-width:1200px) {



}
